body {
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3e44;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}
.player img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.player h2 {
    display: none; /* Nascondi il titolo */
    margin: 15px 0;
    font-size: 2em;
    color: #f1c40f;
}
.player audio {
    display: none; /* Nascondi l'elemento audio */
}
.volume-control {
    width: 100%;
    margin-top: 15px;
}
.guess-input, #submitGuess {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
}
.guess-input {
    background-color: #f1c40f;
    color: #282c34;
    text-align: center;
}
#submitGuess {
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
}
#submitGuess:hover {
    background-color: #16a085;
}
.result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.2em;
}
.play-button {
    background-color: #f1c40f;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 30px;
    color: #282c34;
}
.play-button.active i {
    content: '\23F8'; /* Carattere del simbolo pausa */
    color: #282c34;
}
.preview-list {
    margin-top: 15px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
    color: #282c34;
    text-align: left;
    padding: 15px;
}
.preview-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.preview-item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 5px;
}
.preview-item:hover {
    background-color: #f1c40f;
    color: #282c34;
}

/* Aggiungi questa regola per nascondere il div dell'anteprima di default */
.preview-list {
    display: none;
}

/* Aggiungi questa classe per rendere visibile il div dell'anteprima */
.preview-list.visible {
    display: block;
}
